# Python environment and compilation files
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.ipynb_checkpoints/

# Zipped datasets (allowed for upload to GitHub)
# *.zip
temp_dataset/
temp_diag2/
custom_isl_data/

# Model checkpoints (optional: keep if small, but ignore if large)
# models/isl_model.h5

# OS specific files
.DS_Store
Thumbs.db
desktop.ini
